{% extends "SchedulePage.html" %}
{% if Printed %}
      <table class="Data">
        <thead>
          <tr>
            <th colspan="4">My Completed Prints</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td>Print Name</td>   
			<td>Status</td>		
			<td>Print Time(in minutes)</td>			
			 <td>&nbsp;</td>
          </tr>

          {% for printedJob in Printed %}
          <tr>            
            <td>{{printedJob.job_title}}</td>            
            <td>{{printedJob.status}}</td>
			<td>{{printedJob.print_time}}</td>
			<td><a href='{{ printedJob.file_path_stl.url }}'>Download File</a></td>
          </tr>
          {% endfor %}

        </tbody>

        <thead>
          <tr class="FooterNote">
            <th colspan="4">*PickUp Dates are Approximate</td>
          </tr>
        </thead>
      </table>
      {% else %}
      <h1 class="top heading">You don't seem to have any completed prints</h1>
      {% endif %}