{% extends "Layout.html" %}
{% load static %}
{% block hiddenVar %}
  {% if Recent %}
  <input type="hidden" value="3" id="modelNum"></input>
  <input type="hidden" value={{RecentPrints0.file_path_obj}} id="modelName1"></input>
  <input type="hidden" value={{RecentPrints1.file_path_obj}} id="modelName2"></input>
  <input type="hidden" value={{RecentPrints2.file_path_obj}} id="modelName3"></input>
  {% else %}
  <input type="hidden" value="0" id="modelNum"></input>
  {% endif %}

{% endblock %}

  {% block title %}InnovationHub  |  Schedule{% endblock %}

  {% block heading %}Schedule{% endblock %}

  {% block content %}
  <div class="container_12">
    <div class="grid_12 header">
      {% if inQueueContextObject %}
      <table class="Data">
        <thead>
          <tr>
		  {% if request.user.is_superuser %}
            <th colspan="4">My Print Queue</th>
		  {% else %}
			<th colspan="4">My Submitted Prints</th>	
		 {% endif %}	
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">           
            <td>Print Name</td>
			<td>Owner</td>
            <td>PickUp Date*</td>
			{% if user.is_superuser %}
			<td>Action</td>
			{% endif %}
			<td>&nbsp;</td>
			
          </tr>

          {% for inQueue in inQueueContextObject %}
          <tr>            
            <td>{{inQueue.job_title}}</td>
			<td>{{inQueue.fk_profile}}</td>	           
            <td>{{inQueue.endDate}}</td>
			
			
			{% if user.is_superuser %}
			<td>				
				<button type="button" class="status_change_btn" job_id="{{inQueue.job_id}}" file_url='{{ inQueue.file_path_stl.url }}'>
					Download and Start Printing
				</button>
			</td>
			{% else %}
				<td><a href='{{ inQueue.file_path_stl.url }}'><img height='64px' title ="Download" src="{% static 'Images/download.png' %}"/></a></td>
			{% endif %}
			
          </tr>
		  
          {% endfor %}

        </tbody>

        <thead>
          <tr class="FooterNote">
            <th colspan="4">*PickUp Dates are Approximate</td>
          </tr>
        </thead>
      </table>
      {% else %}
      <h1 class="top heading">You don't seem to have any pending prints</h1>
      {% endif %}
    </div>
    <div class="clear"></div>
	
	 <div class="grid_12 header">
      {% if PrintingContextObject %}
      <table class="Data">
        <thead>
          <tr>
            <th colspan="4">Currently Printing</th>
          </tr>
        </thead>

        <tbody class="printingTableBody">
          <tr class="Subheading">           
            <td>Print Name</td>            
            <td>PickUp Date*</td>
			 <td>&nbsp;</td>
          </tr>

          {% for printing in PrintingContextObject %}
          <tr class="printingrow">            
            <td>{{printing.job_title}}</td>            
            <td>{{printing.endDate}}</td>
			<td><a href='{{ printing.file_path_stl.url }}'>Download File</a></td>
          </tr>
          {% endfor %}

        </tbody>

        <thead>
          <tr class="FooterNote">
            <th colspan="4">*PickUp Dates are Approximate</td>
          </tr>
        </thead>
      </table>
      
      {% endif %}
    </div>
    <div class="clear"></div>

    <div class="grid_12 header">
      {% if Printed %}
      <table class="Data">
        <thead>
          <tr>
            <th colspan="4">My Completed Prints</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td>Print Name</td>            
            <td>Completed on</td>
			 <td>&nbsp;</td>
          </tr>

          {% for printedJob in Printed %}
          <tr>            
            <td>{{printedJob.job_title}}</td>            
            <td>{{printedJob.endDate}}</td>
			<td><a href='{{ printedJob.file_path_stl.url }}'>Download File</a></td>
          </tr>
          {% endfor %}

        </tbody>

        <thead>
          <tr class="FooterNote">
            <th colspan="4">*PickUp Dates are Approximate</td>
          </tr>
        </thead>
      </table>
      {% else %}
      <h1 class="top heading">You don't seem to have any completed prints</h1>
      {% endif %}
    </div>

    {% if Recent %}
    <div class="clear"></div>
    <div class="grid_12 header">
      <table class="Data">
        <thead>
          <tr>
            <th colspan="3">My Recent Prints</th>
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">
            <td>{{RecentPrints0.job_title}}</td>
            <td>{{RecentPrints1.job_title}}</td>
            <td>{{RecentPrints2.job_title}}</td>
            <!--<td>Name 1</td>
            <td>Name 2</td>
            <td>Name 3</td>-->
          </tr>

          <tr>
            <td id={{RecentPrints0.file_path_obj}} style="background:#E4EDDB;"><!--<img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'>--></td>
            <td id={{RecentPrints1.file_path_obj}} style="background:#E4EDDB;"><!--<img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'>--></td>
            <td id={{RecentPrints2.file_path_obj}} style="background:#E4EDDB;"><!--<img class='logo' src = "{% static 'Images/CuriosityGymLogo.png' %}" alt = 'Curiosity Gym'>--></td>
          </tr>
        </tbody>

      </table>
    </div>
    {% endif %}

    <div class="clear"></div>
    {% if user.is_superuser %}

    <div class="grid_12 header">
      <!--<h1 class="top heading" style="cursor:pointer;">Click here to view Django Admin Controls</h1>-->
      <table class="Data" style="cursor:pointer; border-radius:12px; background-color:#307672; border: 0px;" onclick="location.href='/admin/'">
        <tbody>
          <tr>
            <td style="font-size: 30px; border-radius:6px;">Click here to view Django Admin Controls</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clear"></div>

    {% endif %}
  </div>
  {% endblock %}
