{% extends "Layout.html" %}
{% load static %}
{% block hiddenVar %}
  {% if Recent %}
  <input type="hidden" value="3" id="modelNum"></input>
  <input type="hidden" value={{RecentPrints0.file_path_obj}} id="modelName1"></input>
  <input type="hidden" value={{RecentPrints1.file_path_obj}} id="modelName2"></input>
  <input type="hidden" value={{RecentPrints2.file_path_obj}} id="modelName3"></input>
  {% else %}
  <input type="hidden" value="0" id="modelNum"></input>
  {% endif %}

{% endblock %}

  {% block title %}InnovationHub  |  Schedule{% endblock %}

  {% block heading %}Schedule{% endblock %}
  
  
  {% block inQueue %}
  <div class="grid_12 header">
      {% if inQueueContextObject %}
      <table class="Data">
        <thead>
          <tr>
		  {% if request.user.is_superuser %}
            <th colspan="4">My Print Queue</th>
		  {% else %}
			<th colspan="4">My Submitted Prints</th>	
		 {% endif %}	
          </tr>
        </thead>

        <tbody>
          <tr class="Subheading">           
            <td>Print Name</td>
			<td>Owner</td>
            <td>PickUp Date*</td>
			{% if user.is_superuser %}
			<td>Action</td>
			{% else %}
			<td>&nbsp;</td>
			{% endif %}
          </tr>

          {% for inQueue in inQueueContextObject %}
          <tr>            
            <td><a href="/printData/{{inQueue.job_id}}">{{inQueue.job_title}}</a></td>
			<td>{{inQueue.fk_profile}}</td>	           
            <td>{{inQueue.endDate}}</td>
			
			
			{% if user.is_superuser %}
			<td>				
				<button type="button" class="status_change_btn" job_id="{{inQueue.job_id}}" file_url='{{ inQueue.file_path_stl.url }}'>
					Download and Start Printing
				</button>
			</td>
			{% else %}
				<td><a href='{{ inQueue.file_path_stl.url }}'><img height='64px' title ="Download" src="{% static 'Images/download.png' %}"/></a></td>
			{% endif %}
			
          </tr>
		  
          {% endfor %}

        </tbody>

        <thead>
          <tr class="FooterNote">
            <th colspan="4">*PickUp Dates are Approximate</td>
          </tr>
        </thead>
      </table>
      {% else %}
      <h1 class="top heading">You don't seem to have any pending prints</h1>
      {% endif %}
    </div>
    <div class="clear"></div>
{% endblock %}