{% extends "Layout.html" %}
{% load static %}
  {% block title %}InnovationHub  |  Submit{% endblock %}

  {% block heading %}Submit Your File{% endblock %}

  {% block content %}
  <div class="container_12">
    <div class="grid_12 header">

      
    <form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		  <table class="Data Footer">
          <thead>
            <tr>
              <th colspan="2" style="padding:0px 0px 10px 0px;">File Information</th>
            </tr>
          </thead>
          <tbody>
		  {% for field in form.visible_fields %}
            <tr>
              <td class="Field">{{ field.label_tag }}</td>
              <td>
					
					{{ field.errors }}
					{{ field }}
					{{ field.help_text }}
			 </td>
            </tr>	
				
				
			{% endfor %}
		<tr>
              <th colspan="2"><input type="submit" name="Submit" class="Submit"></th>
            </tr>
  </table>
		
      </form>

    </div>
  </div>
  <p style="font-size:41px; color:#E4EDDB; cursor:default;">|</p>
  {% endblock %}
